{% extends 'pblog/base.html' %}
{% load static %}


        
{% block main %}   
<div class="card border-light mb-3 text-center" >
<div class="card-header">
    <h1>{{article.title}}</h1>

    <!-- Button trigger modal -->
<p type="button"  data-toggle="modal" data-target="#exampleModal">
    作者:&ensp;<strong>{{article.writer.username}}</strong>
</p>
    <small>{{article.ctime}}</small>
</div>
<div class="card-body">
    <!-- <h5 class="card-title">Light card title</h5> -->
    <p class="card-text" id="articlecontent">{{article.content}}</p>
</div>
</div>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">用户：<strong>{{article.writer.username}}</strong></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">


            <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">用户名： </h5>
                        <h5 class="mb-1"><strong> {{article.writer.username}} </strong></h5>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">性别： </h5>
                        <h5 class="mb-1">
                        <strong> 
                            {% if article.writer.muser.gender %}
                            男
                                {% else %}
                                女
                            {% endif %}
                                
                        </strong>
                        </h5>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">用户类别： </h5>
                        <h5 class="mb-1">
                        <strong>
                              
                              {% if article.writer.muser.types %}
                                管理员
                              {% else %}    
                                普通用户
                              {% endif %}
                                  
                        </strong>
                        </h5>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">邮箱： </h5>
                        <h5 class="mb-1"><strong> {{article.writer.email}} </strong></h5>
                    </div>
                </li>
            </ul>
            <div class="card-body ">
            <div class="justify-content-between text-center" style="width: 100%;">
                  <button id="chat" type="button" class="btn btn-light"><a href="#" >发起聊天</a></button>
                  <!-- <a type="button" class="btn btn-light" href="{% url 'pblog:othersusercenter' article.writer.id %}">查看主页</a> -->
                  
                  {% if article.writer.id == user.id %}
                  <button id="usercenter" type="button" class="btn btn-light"><a href="#" >查看主页</a></button>
                  {% else %}
                  <button id="otheruser" type="button" class="btn btn-light"><a href="#" >查看主页</a></button>
                  {% endif %}
                    
            </div>
            </div>
            </div>




        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>


<div class="card">
<div class="card-header">
    <div class="d-flex w-100 justify-content-between">
      <small><a  href="{% url 'pblog:home' %}">返回</a></small>
      <strong>评论</strong>
      <small><p data-toggle="modal" data-target="#exampleModal">添加评论</p></small>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">新的评论</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    
                <form method="POST" action="{% url 'pblog:comment' %}">
                    {% csrf_token %}
                    <input type="hidden" name="articleid" value="{{article.id}}">
                    <div class="form-group">
                    <label for="message-text" class="col-form-label">评论:</label>
                    <textarea name="content" class="form-control" id="message-text"></textarea>
                    </div>
                
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                  <button type="submit" class="btn btn-primary">保存</button>
                </div>
                </form>
              </div>
            </div>
          </div>
    
</div>





<div class="card-body">
        <ul class="list-group list-group-flush">
            
        {% for comment in comments %}
        <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
            <strong>{{comment.user.username}}: </strong>
            <small>{{comment.ctime}}</small>
            </div>
            <div class="d-flex w-100 justify-content-between">
            <small>{{comment.content}}</small>
            <small><span class="badge badge-primary badge-pill text-right">14</span></small>
            </div>
        </li>
        {% endfor %}
        </ul>
</div>
</div>
<script>
  
      
$(document).ready(function(){
  var converter = new showdown.Converter();
      text      = $("#articlecontent").text();
      html      = converter.makeHtml(text);
      console.log(html);
  $("#articlecontent").html(html);
  $('#otheruser').on('click',function(){
    window.open("{% url 'pblog:othersusercenter' article.writer.id %}");
  });
  $('#usercenter').on('click',function(){
    window.open("{% url 'pblog:usercenter'%}");
  });
  $('#chat').on('click',function(){
    var id1 = parseInt("{{article.writer.id}}");
    var id2 = parseInt("{{user.id}}");
    if(id1>id2){
      var tmp = id1;
      id1 = id2;
      id2 = tmp;
    }
    var room_name = id1.toString()+id2.toString()
    // window.open("http://localhost:8000/chat/"+room_name+"/")
    window.open("http://localhost:8000/chat/"+id1+"/"+id2+"/")
  });
  
});

</script>

{% endblock main %} 